services:
    -
        class: Proget\PHPStan\PhpSpec\Reflection\ObjectBehaviorMethodsClassReflectionExtension
        tags: [phpstan.broker.methodsClassReflectionExtension]
    -
        class: Proget\PHPStan\PhpSpec\Reflection\DuringCallMethodsClassReflectionExtension
        tags: [phpstan.broker.methodsClassReflectionExtension]
    -
        class: Proget\PHPStan\PhpSpec\Reflection\DelayedCallMethodsClassReflectionExtension
        tags: [phpstan.broker.methodsClassReflectionExtension]
    -
        class: Proget\PHPStan\PhpSpec\Reflection\SpoofedCollaboratorMethodsClassReflectionExtension
        tags: [phpstan.broker.methodsClassReflectionExtension]
    -
        class: Proget\PHPStan\PhpSpec\Reflection\ObjectBehaviorPropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: Proget\PHPStan\PhpSpec\Reflection\SpoofedCollaboratorPropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: Proget\PHPStan\PhpSpec\Type\ObjectBehaviorDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Proget\PHPStan\PhpSpec\Type\ObjectBehaviorDynamicStaticMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]

    # "pathRoutingParser.inner" has the same definition than "pathRoutingParser"
    pathRoutingParser.inner:
        class: PHPStan\Parser\PathRoutingParser
        arguments:
            currentPhpVersionRichParser: @currentPhpVersionRichParser
            currentPhpVersionSimpleParser: @currentPhpVersionSimpleParser
            php8Parser: @php8Parser
        autowired: false

    # Replace the original "pathRoutingParser"
    pathRoutingParser!:
        class: Proget\PHPStan\PhpSpec\Parser\SpecAwareDirectParser
        arguments!:
            originalParser: @pathRoutingParser.inner
            specDir: %currentWorkingDirectory%/%specDir%
        autowired: false

parametersSchema:
	specDir: schema(string())
